<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>闲谭</title>
  <link type="text/css" rel="stylesheet" href="/static/dir.css">
  <script src="/static/dir.js"></script>
</head>
<body>

<div id="topbar"><div class="container">

<div id="heading"><a href="/">闲谭</a></div>

</div></div>

<div id="page">
  {{with .Path}}<h2>{{.}}</h2>{{end}}

  {{with .Articles}}
  <dl>
  {{range .}}
  <dd><a href="/{{.Path}}">{{.Title}}</a></dd>
  {{end}}
  </dl>
  {{end}}

  {{with .Slides}}
  <dl>
  {{range .}}
  <dd><a href="/{{.Path}}">{{.Title}}</a></dd>
  {{end}}
  </dl>
  {{end}}

</div>

<div id="footer">
</div>

<script>
  (function() {
    // Load Google Analytics tracking code on production site only.
    if (window["location"] && window["location"]["hostname"] == "talks.golang.org") {
      var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
      ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
      var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
    }
  })();
</script>
</body>
</html>
